p {
    text-align: center;
}

#bg canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body { 
    margin: 0; 
    overflow: hidden; 
}

canvas { 
    display: block; 
}
