span {
    font-weight: bold;
}

@media (max-width: 899px) {
    #carouselExampleControlsNoTouching {
        max-width: 100%;
    }
}

@media (min-width: 900px) {
    #carouselExampleControlsNoTouching {
        max-width: 75%;
        margin: 0 auto;
    }
}

#exampleInputEmail1, #exampleInputPassword1, #exampleFormControlTextarea1, #exampleInputPasswordConfirm1 {
    background-color: #319A60;
    border-color: #22bf69;
    color: white;
}

.alert-success {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #54daa9 !important;
}

.alert-danger {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ff3737 !important;
    border-color: #ff3737;
}

#carouselExampleControlsNoTouching {
    max-height: 600px;
    min-height: 600px;
}

img {
    max-height: 500px;
    width: auto;
    object-fit: contain;
}

.price {
    font-size: 130%;
    letter-spacing: 2px;
}