.product-card {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.6s ease-out forwards;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.page-link:not(active) {
    background-color: black !important;
}

.bottom-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

