---
import Layout from "../layouts/layout.astro"
import '../styles/about.css'
---

<Layout title="Про нас">
	<h1>Про нас</h1>
    <p>Ми-магазин сучасної техніки,де якість поєднується з надійністю.
    У нас ви знайдете все:від смартфонів і ноутбуків до побутової технікидля дому.
    Ми допомагаємо зробити ваш побут зручнішим,а роботу-ефективнішою.
    Працюємо лише з перевіреними брендами та гарантуєму чесні ціни й швидке обслуговування.
    </p>
    <h2>У нас в асортименті є:</h2>
    <li>
        <ul>смарфони та аксесуари</ul>
        <ul>ноутбуки,планшети,комп'ютерна техніка</ul>
        <ul>побутова техніка для дому</ul>
        <ul>гаджети для дозвілля та роботи</ul>
    </li>
    <p>Ми постійно оновлюємо наш каталог,слідкуємо за новинками й пропонуєму 
    <b>чесні ціни,швидку доставку та гарантію на кожен товар.</b>
    Наші менеджери завджи допоможуть обрати техніку,що краще відповідає вашим потребам.
    </p>
    <p>Ми прагнемо бути не просто магазином,а вашим надійним помічником у світі технологій.</p>
</Layout>