---
import Layout from "../layouts/layout.astro"
import '../styles/contacts.css'
---

<Layout title="Контакти">
    <h1>Контакти</h1>
    <p>Ми завжди на зв'язку та готові допомогти вам із вибороом техніки чи будь-якими запитаннями!</p>
    <p><b>Адреса</b></p>
        м.Київ,вул.Хрещатик,25
    <p><b>Телефон</b></p>
        +380958612359
    <p><b>Email</b></p>
        info@yourshop.com
    <p><b>Графік роботи</b></p>
        Пн-Пт: 09:00-18:00
        Сб: 10:00-16:00
        Нд:вихідний
</Layout>