---
import Layout from "../layouts/layout.astro"
import '../styles/FAQ.css'
---

<Layout title="FAQ">
    <h1>FAQ</h1>
    <p><b>1.Як зробити замовлення?</b></p>
    <p>Ви можете оформити замовлення на нашому сайті -просто додайте товар у кошик,
    заповніть контактні дані та оберіть зручний спосіб доставки.
    </p>
        <p><b>2.Які способи оплати доступні?</b>
    <li>
        <ol>Оплата онлайн банківською картою(Visa,MasterCard)</ol>
        <ol>Оплата при отримані(накладний платіж)</ol>
        <ol>Безготінковий розрахунок для юридичних осіб</ol>
    </li>
    </p>
    <p><b>3.Чи є гарантія на техніку?</b></p>
    <p>Так,на всі товари діє офіційна гарантія від виробника- від 6 до 24 місяців залежно від бренду.
    Ми працюємо лише з офіційними постачальниками.
    </p>
    <p><b>4.Як отримати товар?</b></p>
    <p>Ми здійснюємо доставку по всій Україні
    <li>
        <ul>Нова пошта/Укрпошта</ul>
        <ul>кур'єром по місту</ul>
        <ul>Самовивіз із магазину(якщо у вашому місті є наша точка)</ul>
    </li>
    </p>
    <p><b>5.Чи можна повернути або обміняти товар?</b></p>
    <p>Так,ви можете повернути або обміняти товар протягом 14 днів.
    Якщо він не був у використанні та збережего упаковку.
    </p>
    <p><b>6.Як дізнатися,чи є товар в наявності?</b></p>
    <p>На сторінці кожного товару вказано статус наявності.
    Також ви можете уточноти у наших менеджерів телефоном або в чаті на сайті. 
    </p>
    <p><b>7.Чи є знижки або прграма лояльності?</b></p>
    <p>Так!Ми регулярно проводимо акції,сезонні розпродажі та надаємо знижки постійним клієнтам.
    Слідкуйте за оновленнями в розділі"Акції"або підпишіться на нашу розсилку.
    </p>
    <p><b>8.Як зв'язатися з менеджером?</b>
    <li>
        <ul>Телефон:+38095487596</ul>
        <ul>Email:info@yourshop.com</ul>
        <ul>Також можна написати нам у Viber/Telegram/Instagram-ми відповідаємо швидко!</ul>
    </li>
    </p>
</Layout>