---
import Layout from "../layouts/layout.astro"
import '../styles/guarantee.css'
---

<Layout title="Гарантії і умови повернення">
    <section class="container returns-section py-5">
        <h1 class="mb-4">Гарантія і повернення</h1>
        <p>На всі товари надається гарантія від 12 місяців. У разі несправності ми здійснюємо безкоштовний ремонт або заміну.</p>
        <p>Повернення можливе протягом 14 днів з моменту покупки.</p>
    </section>
</Layout>