---
import Layout from "../layouts/layout.astro"
import '../styles/index.css'
---

<Layout title="Головна">
	<h1>Головна</h1>
    <p>Вітаємо вас у нашому інтернет магазині! Тут ви можете придбати різноманітню техніку. А також отримати допомогу 
        або інформацію щодо обслуговування.
    </p>
    <noscript>
        У вас вимкнене виконання JS коду. Будь ласка увімкніть його щоб сайт працював коректно.
    </noscript>
</Layout>
