---
import Layout from "../layouts/layout.astro"
import '../styles/index.css'
---

<Layout title="Головна">
	<h1>Головна</h1>
    <p>Вітаємо вас у нашому інтернет магазині! Тут ви можете придбати різноманітню техніку. А також отримати допомогу 
        або інформацію щодо обслуговування.
    </p>
</Layout>