---
import Layout from "../layouts/layout.astro"
import '../styles/politic.css'
---

<Layout title="Політика конфіденційності">
    <section class="container privacy-section py-5">
        <h1 class="mb-4">Політика конфіденційності</h1>
        <p>Увага: цей сайт створено виключно для тестових та навчальних цілей. Він не є офіційним або комерційним ресурсом. 
            Всі дані, які ви вводите, можуть бути недоступні для захисту конфіденційності, не зберігатися належним чином або бути 
            видалені у будь-який момент. Автори сайту не несуть відповідальності за будь-які наслідки, включно з втратою, 
            розголошенням або неправомірним використанням ваших даних. Використання цього сайту здійснюється на ваш власний ризик.
        </p>
    </section>
</Layout>