---
import Layout from "../layouts/layout.astro"
import '../styles/sales.css'
---

<Layout title="Акції та знижки">
    <h1>Акції та знижки</h1>
    <p><b>Акції та знижки</b></p>
    <p>Ми любимо тішити своїх покупців вигідними пропозиціяями!
        Слідкуйте за оновленнями-нові акції з'являються щотижня. 
    </p>
    <p><b>Акція"Супер осінь з технікою"</b></p>
    <p>Отримайте <b>знижку до -30%</b>на побутову техніку для дому:праски,пилососи,кавоварки та багато іншого.<br>
    Акція діє до <b>21листопада</b> включно!
    </p>
    <p><b>Знижки на смартфони популярних брендів</b></p>
    <p>купуйте смартвони <b>Samsung,Xiaomi,Apple,Realme</b> зі знижками<b>-20%</b><br>
    до кожного смартфона-навушники у подарунок!
    </p>
    <p><b>Комп'ютерна техніка зі знижками до -25%</b></p>
    <p>Ноутбуки,монітори,клавіатури,мишки-все,що потрібно для роботи та навчання.<br>
    При покупці ноутбука-антивірус на 1 рік безкоштовно.
    </p>
    <p><b>Техніка для дому"2=3"</b></p>
    <p>Купуйте<b>дві одиниці техніки-третю Отримайте зі знижкою 50%</b><br>
    (застосовується до товарів однієї категорії)
    </p>
    <p><b>Як отримати знижку:</b></p>
    <li>
        <ol>Зареєструйтесь на сайт</ol>
        <ol>Додайте товари до кошика</ol>
        <ol>Застосуйте промокод <b>TECH10</b> для додаткової знижки -10%</ol>
    </li>
    <p><b>Не пропустіть!</b>
    кількість товарів обмедена.Слідкуйте за новими пропозиціями на нашому сайті.
    </p>
</Layout>