---
import Layout from "../layouts/layout.astro"
import '../styles/sales.css'
---

<Layout title="Акції та знижки">
    <section class="container sales-section py-5">
        <h1 class="mb-4">Акції та знижки</h1>
        <p>Скористайтеся нашими спеціальними пропозиціями та заощаджуйте на покупках:</p>
        <ul>
            <li>Знижка 10% на ноутбуки до кінця місяця</li>
            <li>Безкоштовна доставка при замовленні від 5000 грн</li>
        </ul>
    </section>
</Layout>