---
import Layout from "../layouts/layout.astro"
import '../styles/services.css'
---

<Layout title="Послуги">
    <section class="container services-section py-5">
        <h1 class="mb-4">Послуги</h1>
        <ul>
            <li><strong>Ремонт техніки:</strong> швидко та якісно.</li>
            <li><strong>Доставка:</strong> по всій Україні.</li>
            <li><strong>Встановлення:</strong> допомога у налаштуванні техніки.</li>
        </ul>
    </section>
</Layout>