---
import Layout from "../layouts/layout.astro"
import '../styles/support.css'
---

<Layout title="Підтримка">
    <section class="container support-section py-5">
        <h1 class="mb-4">Підтримка</h1>
        <p>Якщо виникли труднощі — звертайтесь до служби підтримки:</p>
        <p>Email: <a href="mailto:support@techstore.ua">support@techstore.ua</a></p>
        <p>Телефон: +380 44 987 65 43</p>
    </section>
</Layout>