---
import Layout from "../layouts/layout.astro"
import '../styles/vacancies.css'
---

<Layout title="Вакансії">
    <h1>Вакансії</h1>
    <p>Ми постійно розвиваємось і шукаємо активних,відповідальних людей,які хочуть  стати частиною нашої команди.</p>
    <p><b>Менеджер з продажу техніки</b></p>
    <b><i>Обов'язки</i></b>
    <li>
        <ol>консультування покупців у магазині та онлайн</ol>
        <ol>допомога у виборі техніки</ol>
        <ol>оформлення продажів і ведення замовлен</ol>
    </li>
    <b><i>Вимоги</i></b>
    <li>
        <ul>комунікабельність,приватність,бажання навчатися</ul>
        <ul>базові знання сучасної техніки(смартфони,ноутбуки,побутова техніка)</ul>
        <ul>досвід у продажі буде перевагою</ul>
    </li>
    <b><i>Ми пропонуємо</i></b>
    <li>
        <ol>стабільну роботу в дружній команді</ol>
        <ol>гідну оплату праці+бонуси за продажі</ol>
        <ol>знижки на продукцію магазину</ol>
        <ol>можливість кар'єрного росту</ol>
    </li>

    <p><b>Контент-менеджер/адміністратор сайту</b></p>
    <b><i>Обов'язки</i></b>
    <li>
        <ol>оновлення асортименту,описів і фото товарів</ol>
        <ol>ведення сторінок у соціальних мережах</ol>
        <ol>підготовка акції,банерів,новин</ol>
    </li>
    <b><i>Вимоги</i></b>
    <li>
        <ul>уважність,грамотність,базові навички роботи з CMS або Excel</ul>
        <ul>креативність та інтерес до техніки</ul>
    </li>

    <p><b>Кур'єр/Логіст</b></p>
    <b><i>Обов'язки</i></b>
    <li>
        <ol>доставка техніки клієнтам</ol>
        <ol>координація замовлень і повернень</ol>
    </li>
    <b><i>Вимоги</i></b>
    <li>
        <ul>пунктуальність,відповідальність</ul>
        <ul>наявність власного транспорту(бажано)</ul>
    </li>
    <p><b><i>Як подати заявку:</p></b></i>
    Надішліть своє резюме або коротку інформацію про себе на into@yourshop.com із темою листа "Вакансія[посада]"
    Ми обов'язково зв'яжемось із вами!
</Layout>